## 首页布局
#extends("page/layout/frame.vm")

    #block("body")
        #block("header")
            #widget("widget/header/header.vm")
        #end

        #block("content")#end

        #block("footer")
            #widget("widget/footer/footer-blue.vm")
        #end
    #end

  ## auto inject by fis3-preprocess-extlang
  #require("page/layout/frame-blue.vm")
#end
