@import "compass/css3/border-radius";
@import "compass/css3";
$middle-top-width: 1190px;
$middle-top-height: 103px;
$font-black-color:#333;
$font-white-color:#b5bac2;
$font-famliy-song:宋体;
$orange-color:#e67e22;
$red-color:#f03838;
$deep-red-color:#a94442;
$gray-color:#ccc;
$deep-gray-color:#999;
$super-deep-gray-color:#666;
$blue-color:#2471c8;
$user-main-color:#2471c8;
$deep-green-color:#3b8324;
$green-color:#77c361;
$light-green-color:#e2f8d9;

$head-height: 90px;
$head-font-famliy:"微软雅黑";
$head-font-size:16px;

$foot-height: 278px;
$foot-font-famliy:$font-famliy-song;
$foot-font-size-white:13px;
$foot-font-size-blue:12px;
$image-url:"/page/assets/img";
$minWidth: 550px;