#extends("page/layout/frame-white.vm")
    #style()
        #require("page/start/register-and-forget-password.scss")
        #require("page/assets/scss/drag.scss")
        .top-padding7 {
            padding-top: 7px;
        }
        .top-padding10 {
            padding-top: 10px;
        }
    #end
    #script()
        require(['page/start/forget-password'])
    #end
    #block("content")
        <div class="bg-title">
            <div class="title">找回密码</div>
        </div>
        <div class="container">
            <div class="tab-steps">
                <!-- Nav tabs -->
                <ul id="myTabs" class="nav nav-tabs four-step" role="tablist">
                    <li role="presentation" class="item"><a href="#step1" aria-controls="step1" role="tab">01/填写邮箱</a></li>
                    <li role="presentation" class="item"><a href="#step2" aria-controls="step2" role="tab">02/邮箱验证</a></li>
                    <li role="presentation" class="item"><a href="#step3" aria-controls="step3" role="tab">03/修改密码</a></li>
                    <li role="presentation" class="item"><a href="#step4" aria-controls="step4" role="tab">04/完成修改</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade" id="step1">
                        <form class="form-horizontal my-block" style="padding-top: 65px">
                            <input type="hidden" name="mailType" value="forget_password">
                            <div class="form-group has-error">
                                <label for="email" class="col-xs-offset-1 col-xs-12 col-sm-offset-0 col-sm-3 control-label">邮箱：</label>
                                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-5">
                                    <input class="form-control" id="email" name="email" placeholder="请输入邮箱">
                                </div>
                                <div class="col-xs-offset-1 col-xs-12 col-sm-offset-0 col-sm-4 error"></div>
                            </div>
                            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-5">
                                <div class="text" id="drag"></div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-8">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="agreement">同意“天津跨境电商外贸综合服务平台用户使用协议”
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-5">
                                    <button type="submit" class="btn btn-block blue-button-fix">发送验证邮件</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="step2">
                        <div class="my-block" style="padding-top: 65px">
                            <div class="row">
                                <div class="col-xs-4">
                                    <img class="pull-right" src="/ftisp/static/img/email_icon.png" alt="email-icon">
                                    <img class='pull-right' src='/ftisp/static/img/link_rot.png' alt='link-rot' style="display: none">
                                </div>
                                <div class="col-xs-8">
                                    <strong>邮件已经发出</strong>
                                    <p style="margin-top: 10px">请前往邮箱查看</p>
                                    <p>请在24小时内点击邮箱中的链接继续完成密码修改</p>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 80px">
                                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-5">
                                    <button id="resend" type="button" class="btn btn-block transparent-button-fix" disabled><span>(60)</span>重新发送</button>
                                </div>
                               #* <div class="col-xs-offset-1 col-xs-10 col-sm-4">
                                    <button type="button" class="btn btn-block blue-button-fix">前往邮箱</button>
                                </div>*#
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="step3">
                        <input type="hidden" name="message" id="message" value="${message}">
                        <input type="hidden" name="validStatus" id="validStatus" value="${validStatus}">
                        <form class="form-horizontal my-block" style="padding-top: 65px">
                            <input type="hidden" name="code" id="code" value="${code}">
                            <div class="form-group">
                                <label for="password" class="col-xs-offset-1 col-xs-12 col-sm-offset-0 col-sm-3 control-label">新密码：</label>
                                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-5">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="请输入新密码">
                                </div>
                                <div class="col-xs-offset-1 col-xs-12 col-sm-offset-0 col-sm-4 error">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="passwordAgain" class="col-xs-offset-1 col-xs-12 col-sm-offset-0 col-sm-3 control-label">重复密码：</label>
                                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-5">
                                    <input type="password" class="form-control" id="passwordAgain" name="passwordAgain" placeholder="请重复输入新密码">
                                </div>
                                <div class="col-xs-offset-1 col-xs-12 col-sm-offset-0 col-sm-4 error">
                                </div>
                            </div>
                            <div class="form-group" style="margin-top: 50px">
                                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-5">
                                    <button type="submit" class="btn btn-block blue-button-fix">确认</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="step4">
                        <div class="my-block">
                            <div class="row" style="padding: 0 4%">
                                <div class="text-center col-xs-12 success-stock">
                                    <img src="/ftisp/static/img/success_icon_lg.png">
                                    <div class="success-text-stock">
                                        恭喜您！密码修改成功
                                    </div>
                                </div>
                            </div>
                            <p class="text-center top-padding10">
                                您现在可以进入：<a href="#">我的用户中心</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    #end

  ## auto inject by fis3-preprocess-extlang
  #require("page/start/forget-password.vm")
#end