##尾部
<footer class="col-xs-12 col-sm-12 col-md-12">
    <div class="footer-white">
        <hr>
        <p><a>天保集团</a>|<a>天保科技</a>|<a>知贸网</a>|<a>天津电子商务协会</a>|<a>天津进出口商会</a>|<a>新华报业传媒集团</a></p>
        <p>Copyright © 2016-2017 天津跨境电子商务服务有限公司 版权所有</p>
        <p>ICP备案号：津15005767号</p>
    </div>
</footer>
